python-dotenv==1.0.0
pytz
streamlit==1.27.2

SpeechRecognition
dateparser
streamlit_js_eval
streamlit_javascript
google.generativeai

faster-whisper
python-multipart==0.0.6

# Optional/advanced (only install if you want AI local models)
# transformers==4.34.0
# torch   # large, only if using HF models locally

# Frontend (for part 2)
# streamlit==1.26.0

# Optional notifications
plyer==2.0.0



fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
sqlalchemy==2.0.34
alembic==1.13.2
python-multipart==0.0.9
requests==2.32.3
apscheduler==3.10.4
pytelegrambotapi==4.22.1

